.styled-button {
    background-color: 'darkgrey';
    color: darkslategrey;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.styled-button:hover {
    background-color: #45a049;  /* Darker green on hover */
  }